.header-btn {
  background-color: var(--badge-bg);
  border: none;
  padding: 0.5rem 0.7rem;
  border-radius: 66px;
  color: var(--color-primary);
  font-weight: 600;
  width: 150px;
  text-align: center;
}

.header-title {
  width: 40rem;
  font-size: 50px;
  color: var(--text-title);
  padding-top: 1rem;
  font-weight: 600;
}

.vector {
  margin-top: 3.5rem;
  position: absolute;
  z-index: -999;
  margin-left: -14.5rem;
}

.courses {
  width: 30rem;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  gap: 1.5rem;
}

.courses-btn {
  background-color: var(--color-primary-light);
  padding: 0.8rem 1rem;
  border-radius: 80px;
  color: var(--text-light);
  text-decoration: none;
  font-weight: 600;
}

.courses-play {
  text-align: center;
  display: flex;
  align-items: center;
  color: var(--text-title);
  font-size: 18px;
  text-decoration: none;
  gap: 0.3rem;
  transition: all 0.1s ease;
}

.courses-play:hover {
  color: var(--color-primary);
}

.courses-play i {
  font-size: 45px;
}

.header-img img {
  width: 700px;
  height: 500px;
  margin-left: -15rem;
  margin-top: 4rem;
}

